@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('assets/fonts/fraunces/regular.ttf');
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('assets/fonts/fraunces/black.ttf');
}

:root {
    --palai-yellow: #e5c261;
    --palai-yellow-hover: #ecd38d;
    --palai-yellow-text-hover: #8c8076;
    --palai-green: #9cba71;
    --palai-white: #f4f4e8;
    --palai-black: #393430;

    --dark-green: #354842;
    --success-green: #7bb555;
    --warning-orange: #f8a51d;
    --danger-red: #f44336;

    font-family: 'Fraunces';
    background-color: var(--palai-white);
}

body, h1 {
    margin: 0;
}
