@import url('$lib/fonts/Fraunces/font.css');

:root {
    --palai-yellow: #e5c261;
    --palai-yellow-hover: #ecd38d;
    --palai-yellow-text-hover: #8c8076;
    --palai-green: #9cba71;
    --palai-white: #f4f4e8;
    --palai-black: #393430;
    --dark-green: #354842;
    --success-green: #7bb555;
    --warning-orange: #c2a13e;
    --danger-red: #f44336;

    font-family: Fraunces, serif;
    background-color: var(--palai-white);
}

:root,
body {
    height: 100%;
}

body,
h1 {
    margin: 0;
}
